.container{
	margin: 0px 0px;
	padding: 0px;
}

#primary{
	float: right;
}

#secondary{
	float: left;
}

/* Header */

#masthead hgroup{
	/* margin-bottom: 50px; */
}
h1.site-title{
	font-size: 36px;
	text-transform: uppercase;
	color: #F79120;
	font-weight: 800;
	margin: 0px 0px;
	
}

h1.site-title a:link, h1.site-title a:visited{
	color: #F79120;
}

h2.site-description{
	color: #bababa;
	font-size: 16px;
}

/* Menu */


#nav-main{
	background: #333333;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 2px #181c26;
}

#nav-main ul { list-style: none; margin: 0; padding :0; text-align: left; }
#nav-main ul a {
  display: block;
  text-decoration: none;	
}
#nav-main ul li { display:inline-block; width: 100%;} 
#nav-main ul li a { 
	text-decoration:none; 
	display:block; 
	font-size:1.0em; 
	padding: 10px 0px 10px 10px; 
	color:#eee; 
	margin: 0px 0px;
	border-top: 1px #3B4358 solid;
	background: #f79120;
	letter-spacing: 1px;
}

#nav-main ul li:first-child a{
	border: none;
}
 
#nav-main ul li a:hover { background: #bababa; color: #FFF }
#nav-main ul li ul li a:hover { background: none; color: #0f6cb6; }
#nav-main ul li ul { position: relative; padding: 10px 0px; }
 
#nav-main ul ul li a { background: none; border: none; padding: 5px 0px 5px 0px; margin: 0 0 0 15px; }
#nav-main ul ul li a:hover { color:#e36204!important;}
#nav-main ul ul li ul { margin: 0 0 0 8px; }
 
ul.sub-menu li.current-menu-item  { color: #fff!important;}



/* Blog */

.page-header{
	margin-bottom: 50px;
}

h1.page-title{
	margin: 0px 0px;
}
article.post{
	background: url(../images/line.png) bottom repeat-x;
	padding-bottom: 3em;
}
header.entry-header{
	margin-bottom: 30px;
}

h1.entry-title{
	/* font-weight: 800; */
	font-size: 24px;
	color: #F79120;

}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #F79120;
}

.post-image img{
	max-width: 100%;
}

.entry-meta{
	font-size: 12px;
	color: #aaa;
	text-transform: uppercase;
}


/* =Widgets
----------------------------------------------- */

h2.sidetoggle{
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	cursor: pointer;
}

.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 18px;
    margin-bottom: 20px;
 	color:#fff;
 	text-transform: uppercase;

}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #b3b4b7;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #b3b4b7;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#fff;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #454e66;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted #454e66;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted #454e66;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
}

.widget .tagcloud a{
	color:#EB634F;
}

.widget #calendar_wrap{
	padding:0px 20px 20px 20px;

}

.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 10px 5px 0px;
	list-style:none;
	float:left;
}


li.rbanner{
	margin-right:0px!important;
}



/* Pagination */

.pagination a{
	background: #eee;
	border: 1px solid #dfdfdf;
	color: #666;
	padding: 8px 15px;
	margin-right: 10px;
}

.pagination span{
	background: #489BCD;
	border: 1px solid #3f86af;
	color: #fff;
	padding: 8px 15px;
		margin-right: 10px;
}




/* Comments */

#comments{
	
}

h2.comments-title{

	font-weight: 600;
	margin-bottom: 3em;
	color: #111;
}

#comments ol.commentlist {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

#comments ol.commentlist li.comment,#comments ol.commentlist li.pingback {
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 1.6;
}

ol.commentlist li .comment-author .avatar {
     margin: 0px 20px 0px 0px ;
     border-radius: 32px;
     float:left;
}

.comment-top{
	background: #edf1f2;	
}

cite.fn {
    color: #444;
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    padding: 15px 0px;
}

cite.fn a:link,cite.fn a:visited {
	color:#444;
}

ol.commentlist li .comment-meta{
	margin-bottom: 2em;
}

ol.commentlist li .comment-meta a {
    color: #444;
    text-decoration: none!important;
    
}

ol.commentlist li .comment-meta,#respond label small {
    font-size: 10px;
}

.comment-content{
	padding: 10px 0px 10px 84px;
	background: #fff;
}

ol.commentlist li .reply {
    background:#489bcd;
    color: #fff;
    font-size: 12px;
    padding:5px 10px;
    display: inline-block;
    float: right;
}

ol.commentlist li .reply a {
	color:#fff;
}

.space{
	height:30px;
}

ol.commentlist li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 0px 0px 0px 50px;
}


#respond {
    margin: 30px 0;
}

#respond h3 {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    padding: 5px 0px;
    margin:0px 0px;
}

#commentform {
    padding: 0px 0px;
}

#commentform p {
    color: #777;
    margin: 5px 0;
}

.form-allowed-tags{
	font-size:13px;
}

#respond label {
    display:inline;
    color: #777;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #777;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
    display:block;
    margin-top:5px;
}

#respond input#submit {
	width:130px;
    background:#eee;
    color: #555;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    display:block;
    margin-top:5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #333;
    margin: 5px 0 0;
    padding: 10px 10px;
}

.form-allowed-tags{
	padding:20px 0px;

}


/* Footer */

.site-footer{
	padding: 30px 20px ;
}

.fcred{
	padding: 0px 0px 0px 0px;
	color: #777;
}

.fcred a:link, .fcred a:visited{
	color:#777;
}
